<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EventMaker</title>
    <link rel="stylesheet" href="inicio.component.css">
    <script src="https://kit.fontawesome.com/87282fe058.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Anton&display=swap" rel="stylesheet">
</head>

<header>
    <div class="hero">
        <div class="ordenar">
            <nav class="redes-sociales">
                <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
                <a href="https://www.tiktok.com/"><i class="fab fa-tiktok"></i></a>
                <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            </nav>
        </div>
        <h1>EVENTMAKER</h1>
    </div>
</header>



<body>

<div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half margin-75" data-ride="carousel">
  <h2>Invitados Especiales</h2>
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
    <li data-target="#carousel-example-3" data-slide-to="3"></li>
    <li data-target="#carousel-example-3" data-slide-to="4"></li>
    <li data-target="#carousel-example-3" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <div class="view">
        <img class="d-block rounded mx-auto d-block invitado" src="https://www.elheraldo.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=w1RB6pozOetLy4B9cnd7jM$daE2N3K4ZzOUsqbU5sYsRENqHPzc8Db9e2dy2pHUW6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" alt="First slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">DJ Frank</h3>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block rounded mx-auto d-block invitado" src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=qouy6Q7g3Cq3DkvFmsn0G8$daE2N3K4ZzOUsqbU5sYto$gQ9f9aVEHTv86HNplZO6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" alt="Second slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Orquesta Delicia</h3>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block rounded mx-auto d-block invitado" src="https://www.laprensa.hn/csp/mediapool/sites/dt.common.streams.StreamServer.cls?STREAMOID=fVU3IUOhBV5VjTegn1w04s$daE2N3K4ZzOUsqbU5sYsFzCstviPA4QJ8oON8eyRN6FB40xiOfUoExWL3M40tfzssyZqpeG_J0TFo7ZhRaDiHC9oxmioMlYVJD0A$3RbIiibgT65kY_CSDiCiUzvHvODrHApbd6ry6YGl5GGOZrs-&CONTENTTYPE=image/jpeg" alt="Third slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Jorge Torres</h3>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block rounded mx-auto d-block invitado" src="https://d26m4ikkajfmz.cloudfront.net/wp-content/uploads/2019/04/la-versatil-Kumbia-Party-el-pais-hn.jpg" alt="Third slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">La Versatil</h3>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block rounded mx-auto d-block invitado" src="https://i.ytimg.com/vi/WFHy3J3v5sY/maxresdefault.jpg" alt="Third slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Silver Star</h3>
      </div>
    </div>
    <div class="carousel-item">
      <div class="view">
        <img class="d-block rounded mx-auto d-block invitado" src="https://i1.sndcdn.com/artworks-000097094856-druzkv-t500x500.jpg" alt="Third slide">
        <div class="mask rgba-black-light"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Grupo Kandela</h3>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<section class="pricing py-5 margin-75">
  <h2>Precios</h2>
  <div class="container">
    <div class="row">
      <!-- Free Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Entrada Simple</h5>
            <h6 class="card-price text-center">L250.00<span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso al evento</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Pulsera</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Bebida incluida</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Golosina Incluida</li>
            </ul>
            
          </div>
        </div>
      </div>
      <!-- Plus Tier -->
      <div class="col-lg-4">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Entrada Plus</h5>
            <h6 class="card-price text-center">L500<span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso al Evento</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Pulsera</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>2 Bebidas Incluidas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Golosina</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Comida</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso a los locales privados</li>
            </ul>
          </div>
        </div>
      </div>
      <!-- Pro Tier -->
      <div class="col-lg-4">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center">Entrada Full</h5>
            <h6 class="card-price text-center">L750<span class="period"></span></h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso al Evento</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Camisa del Evento</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Pulsera</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Bebidas No-Alcoholicas Ilimitadas</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Golosina</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>1 Comida Especial</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Acceso al Area VIP</li>
              <li><span class="fa-li"><i class="fas fa-check"></i></span>Estacionamiento Asignado</li>
            </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="Mapa margin-75">
    <h2>Ubicacion</h2>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1922.1476816964187!2d-88.03786451604466!3d15.522288997733988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2zMTXCsDMxJzIwLjIiTiA4OMKwMDInMTIuNyJX!5e0!3m2!1ses!2shn!4v1596588735249!5m2!1ses!2shn" width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
</div>


<section class="text-center my-5 p-1">
    <h2 class="h1-responsive font-weight-bold my-5">Testimoniales</h2>

    <div class="row">
      <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">
        <div class="card testimonial-card">
          <div class="card-up info-color"></div>
          <div class="avatar mx-auto white">
            <img src="https://www.buenamusica.com/media/fotos/cantantes/biografia/kazzabe.jpg" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold mb-4">Kazzabe</h4>
            <hr>
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Uno de los eventos mas grandes en los que tenemos el honor de participar y crear un buen ambiente.</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6 mb-md-0 mb-4">
        <div class="card testimonial-card">
          <div class="card-up blue-gradient">
          </div>
          <div class="avatar mx-auto white">
            <img src="https://pbs.twimg.com/profile_images/1215693186733133825/LYQSboOb_400x400.jpg" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold mb-4">Municipalidad de San Pedro Sula</h4>
            <hr>
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Un evento con contenido para toda la familia en el cual hay muchas actividades y entretenimiento para disfrutar.</p>
          </div>
        </div>
      </div>
  
      <div class="col-lg-4 col-md-6">
        <div class="card testimonial-card">
          <div class="card-up indigo"></div>
          <div class="avatar mx-auto white">
            <img src="https://is2-ssl.mzstatic.com/image/thumb/Purple118/v4/fb/de/09/fbde095c-0a9e-bdde-7ff2-a08bac504ad4/source/256x256bb.jpg" class="rounded-circle img-fluid">
          </div>
          <div class="card-body">
            <h4 class="font-weight-bold mb-4">Canal 6</h4>
            <hr>
            <p class="dark-grey-text mt-4"><i class="fas fa-quote-left pr-2"></i>Un show insuperable.</p>
          </div>
        </div>
      </div>
    </div>  
  </section>

  <div class="cuenta-regresiva">
    <h2>Cuenta Regresiva</h2>
    <iframe width="582" height="299" src="https://w2.countingdownto.com/3208698" frameborder="0"></iframe>
</div>

</body>



<footer id="footer" class="fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          &copy; Copyright <strong>EVENTMAKER</strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="https://EVENTMAKER.com/">EVENTMAKER</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="index.html" class="scrollto">Inicio</a>
          <a routerLink="/invitados" class="scrollto">Invitados</a>
          <a routerLink="/calendarios">Calendario</a>
          <a routerLink="/compras">Reservacion</a>
        </nav>
      </div>
    </div>
  </div>
</footer>

</html>
