/** HEADER **/
.hero{
  background-image: url(../img/cover3.jpg);
  height: 100vh;
  background-position: top center;
  background-size: cover; 
}

header .hero {
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--colorPrimario);
    width: 100%;
}

.ordenar{
  display: inline-flex;
  width: 100%;
}

.redes-sociales{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.botones{
  width: 50%;
}

.redes-sociales a i {   
    font-size: 2rem;
    color: var(--colorSecundario);
}

.cuenta-regresiva{
  padding-top: 50px;
  padding-bottom: 50px;
}

.seccion-invitados{
  padding-bottom: 50px;
}