<h2>Crear Invitado</h2>
<form>
    <div class="form-group">
        <label for="nombre_invitadoInvitado">Nombre del Invitado</label>
        <input name="nombre" type="text" class="form-control" id="nombre_invitadoInvitado"
        placeholder="Ingrese la Nombre del Invitado" [(ngModel)]="invitado.nombre_invitado">
    </div>
    <div class="form-group">
        <label for="apellido_invitadoInvitado">Genero del Invitado</label>
        <input name="nombre" type="text" class="form-control" id="apellido_invitadoInvitado"
        placeholder="Ingrese el Genero del Invitado" [(ngModel)]="invitado.apellido_invitado">
    </div>
    <div class="form-group">
        <label for="descripcionInvitado">Descripcion del Invitado</label>
        <input name="nombre" type="text" class="form-control" id="descripcionInvitado"
        placeholder="Ingrese la Descripcion del Invitado" [(ngModel)]="invitado.descripcion">
    </div>
    <button type="submit" class="btn btn-primary" (click)="crearInvitado()">Guardar</button>
    <button type="submit" class="btn btn-ligth" (click)="cancelar()">Cancelar</button>
</form>

