<h1>Listado de Usuarios</h1>
<button type ="button" class="btn btn-success mb-2" (click)="crearUsuario()"><i class="fas fa-plus"></i>
    Crear</button>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nombre </th>
            <th scope="col">Apellido</th>
            <th scope="col">Edad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
       <tr *ngFor="let usuario of usuarios">
            <th scope="row">{{usuario.id}}</th>
            <th scope="row">{{usuario.Nombre}}</th>
>
            <td>
                <div class="btn-group" role="group">
                <button type="button" class="btn btn-info" (click)="editarUsuario(usuario.id)">
                <i class="fas fa-pencil-alt"></i></button>
                <button type="button" class="btn btn-danger" (click)="eliminarUsuario(usuario.id)"> 
                <i class="fas fa-trash-alt"></i></button>       
                </div>
            </td>
        </tr>
    </tbody>
</table>
