<h1>Reservacion</h1>


<footer id="footer">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 text-lg-left text-center">
          <div class="copyright">
            &copy; Copyright <strong>EVENTMAKER</strong>. All Rights Reserved
          </div>
          <div class="credits">
            
            Designed by <a href="https://EVENTMAKER.com/">EVENTMAKER</a>
          </div>
        </div>
        <div class="col-lg-6">
          <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
            <a href="index.html" class="scrollto">Inicio</a>
            <a href="invitados.html" class="scrollto">Invitados</a>
            <a href="Calendario.html">Calendario</a>
            <a href="Reservacion.html">Reservacion</a>
            <a href="#">Contactos</a>
          </nav>
        </div>
      </div>
    </div>
</footer><!-- #footer -->


