<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Calendario</title>
<link rel="stylesheet" href="calendario.component.css">

<script src="https://kit.fontawesome.com/87282fe058.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" > </script>
</head>

<header>
    <h1>CALENDARIO DE EVENTOS</h1>

</header>

<body>
    <div>
        <iframe src="https://calendar.google.com/calendar/embed?height=600&amp;wkst=2&amp;bgcolor=%234285F4&amp;ctz=America%2FTegucigalpa&amp;src=M2N0aTYwZWpjOG9lamFqZmx2MGk2MGNlcnNAZ3JvdXAuY2FsZW5kYXIuZ29vZ2xlLmNvbQ&amp;color=%23C0CA33" 
        style="border:solid 1px #777" 
        width="100%" 
        height="600" 
        
        frameborder="0" 
        scrolling="no"></iframe>   
     </div>

</body>

<footer id="footer" class="fixed-bottom">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 text-lg-left text-center">
        <div class="copyright">
          &copy; Copyright <strong>EVENTMAKER</strong>. All Rights Reserved
        </div>
        <div class="credits">
          
          Designed by <a href="https://EVENTMAKER.com/">EVENTMAKER</a>
        </div>
      </div>
      <div class="col-lg-6">
        <nav class="footer-links text-lg-right text-center pt-2 pt-lg-0">
          <a href="index.html" class="scrollto">Inicio</a>
          <a routerLink="/invitados" class="scrollto">Invitados</a>
          <a routerLink="/calendarios">Calendario</a>
          <a routerLink="/compras">Reservacion</a>
        </nav>
      </div>
    </div>
  </div>
</footer>

</html>
